* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --accent-color: #e448b5;
  --accent2-color: #1aa6dd;
}

html {
  font-size: 62.5%;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

p {
  margin-top: 1rem;
}

h {
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  width: 12rem;
  height: 3rem;
}

.cardinfo h3{
  font-weight: bold;
  font-size: 2rem;
}

.cardinfo p{
  color: gray;
}


.container {
  margin: auto;
  width: 100%;
  max-width: 2000px;
  
}

/* 헤더 */
header {
  background: url('../img/1_main_image.png') no-repeat;
  height: 70rem;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
}


.navbar_menu {
  display: flex;
  padding-left: 0;
}


.navbar_menu li {
  padding: 1rem 4rem;
}

.navbar_menu li:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: .4rem;
}

.navbar_links {
  display: flex;
  padding-left: 0;
}

.navbar_links li {
  padding: 1rem 1rem;
}

.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 3.2rem;
  top: 2.4rem;
  font-size: 4.4rem;
  color: #ffffff;
}

.subnav-content {
  display: none;
  position: absolute;
  top: 8rem;
  left: 0rem;
  width: 100%;
  background-color: rgb(218, 216, 216);
  box-shadow: 0 0.4rem 0.2rem -0.2rem black;
  padding: 1rem 10rem;
  z-index: 1;
  height: 23rem;
}

.subnav-content a {
  float: left;
  color: gray;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}

/* 슬라이더 */

.slider .maininfo {
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
  top: 20rem;
  left: 20rem;
}



.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 33rem;
  width: 0 auto;
  padding: 1.6rem;
  margin-top: -2.2rem;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}





/* 4그리드 */
.FourCardBox {
  background-color: rgb(245, 245, 245);
  padding: 5rem 10%;
  height: 50rem;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: coral;
}

.FourCardBox .cardinfo{
  position: flex;
  top: 5rem;
  left: 20rem;
}


.FourCardBox .detailBtn:hover {
  background-image: url('/img/1_바로가기_button.png');
}

.FourCardBox .imgcard {
  border: solid 1px black;
  padding: 2rem;
  margin: 0rem 1rem;
  width: 20rem;
  height: 20rem;
}

.FourCardBox .imgcard:hover {
  color: #eee;
  background-image: url('/img/2_box\(1\).png');
}



.FourCardBox .imgcard h3 {
  text-align: left;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}



/* 연구 2그리드 */
.research {
  display: flex;
  padding: 8rem;
  text-align: center;
  position: absolute;
  left: 0rem;
  top: 92rem;
  z-index: 2;
  background-color: blue;
}

.bigCard {
  position: relative;
  overflow:hidden;
}


.bigCard img {
  opacity: 0.9;
}

.bigCard .reseachBigCard:hover {
  transition: .9s;
  transform: scale(1.1);
}


.bigCard .rightBtn {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}

.leftBtn:hover,
.rightBtn:hover {
  opacity: 0.6;
}

.bigCard p {
  color: #eee;
}

.bigCard .center {
  position: absolute;
  top: 40%;
  left: 50%;
}

/* 3그리드 */
.ThreeCardBox {
  z-index: 1;
  padding: 5rem 10%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60rem;
  position: relative;
  background-color: #e448b5;
}

.ThreeCardBox .cardinfo {
  position: absolute;
  top: 25rem;
  left: 20rem;
}

.ThreeCardBox .imgcard {
  padding: 1rem;
}

.ThreeCardBox .imgcard p {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

/* 푸터 */
.footer {
  align-items: center;
  padding: 1rem 24rem;
  background-color: #1aa6dd;
}

.footer-inner {
  border-bottom: 0.1rem solid gray;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer a {
  padding-left: 5rem;
  margin: 0 auto;
}







/* 모바일 뷰 */


/* 가로 방향 전화기 이하 */
/* 320px 768px */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 2.4rem;
    border-bottom: .1rem solid #ffffff;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_links {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_links.active {
    display: flex;
  }

  .prev,.next {
    display: none;
  }

  .slider .maininfo {
    position: absolute;
    top: 12rem;
    left: 1rem;
    padding: 1rem 1rem;
    font-size: 2rem;
    font-weight: bold;
  }

  header {
    height: 40rem;
  }

  .FourCardBox{
    height: 50rem;
  }

  .FourCardBox .cardinfo {
    flex-direction: column;
    align-items: center;
  }

  .research{
    flex-direction: column;
    position: absolute;
    top: 10rem;
    left: 10rem;
  }

  .bigCard .rightBtn {
    display: none;
  }

  .bigCard .reseachBigCard {
    height: 15rem;
  }

  .bigCard .center img{
    width: 5rem;
  }

  .ThreeCardBox {
    flex-direction: column;
    align-items: center;
  }

  .footer{
    flex-direction: column;
    align-items: center;
  }
}